<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.spring.myapp.board.dao.IBoardDAO">
<insert id="writeBoard">
	INSERT INTO board 
	values(autonum.NEXTVAL, #{name}, #{title}, #{content}, SYSDATE, 0)
</insert>

<select id="getBoardList"  resultType="com.spring.myapp.board.vo.BoardVO">
	SELECT * FROM board ORDER BY boardnum DESC
</select>

<select id="getBoardContent" resultType="com.spring.myapp.board.vo.BoardVO">
	SELECT * FROM board WHERE boardnum = #{boardnum}
</select>

<delete id="deleteBoard" parameterType="int">
	delete from board where boardnum = #{boardnum}
</delete>
</mapper>